#cardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 2rem;
    h1{
        color: $grn;
        flex-basis: 100%;
        text-align: center;
    }
    .flip-card {
        width: 500px;
        height: 300px;
        margin: 1rem;
        .flip-card-inner {
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

            .flip-card-front, .flip-card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                background-color: rgba( 255, 255, 255, 0.25 );
            }
            .flip-card-front {
                display: flex;
                align-items: center;
                font-size: 2rem;
                justify-content: center;
                color: red;
            }
            .flip-card-back {
                color: teal;
                transform: rotateY(180deg);
            }
        }
    }
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    
}