#cardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 2rem;
    h1{
        color: $grn;
        flex-basis: 100%;
    }
    article {
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 500px;
        height: 500px;
        color: white;
        padding: 1rem;
        font-size: 1.5rem;
        margin: 30px;
        &>h3{
            color:red;
        }
        &>p{
            color: teal;
        }
    }
}