#game {
    font-size: 1.5rem;
    margin: 10% 0px;
    padding: 5px 15%;
    #top, #code, #buttons {
        padding: 5px 20px;
        margin: 10px;
        background-color: $wht;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px gray;
    }
    #top {
        p {
            background-color: blue;
            color: yellow;
            border-radius: 10px;
            padding: 10px;
            height: 400px;
        }
    }
    #bottom {
        display: flex;
        margin: 0px;
        #code {
            width: 80%;
            input {
                border: none;
                background-color: rgb(240, 238, 238);
                color: $blk;
                box-shadow: none;
                height: 70%;
                width: 90%;
            }
        }
        #buttons {
            display: flex;
            flex-direction: column;
            button {
                border: none;
                padding: 3px 20px;
                color: white;
                border-radius: 10px;
                margin: 5px;
            }
            button:hover {
                cursor: pointer;
            }
            #quitter {
                background-color: red;
            }
            #reset {
                background-color: yellow;
            }
            #send {
                background-color: greenyellow;
            }
        }
    }
}

@media (max-width: 860px) {
    #game {
        #top {
            height: auto;
        }
        #bottom {
            display: block;
            #code {
                width: auto;
                padding: 2px;
                input {
                    width: 90%;
                }
            }
        }
    }
}