section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card {
        padding: 1.5rem 0.5rem;
        width: 550px !important;
        height: 400px !important;
        margin: 0.5rem;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 1.5rem;
        .school {
            color: $grn;
            font-size: 1.8rem;
        }
        img{
            width: 100px !important;
        }
    }
}

@media (max-width: 730px) {
    .card {

        max-width: 90%;

        pre {

            width: auto !important;

        }

    }

}