@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
header {
  background-color: rgba(101, 193, 190, 0.3);
  padding: 30px 0px;
}

header nav ul {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #000000;
  padding: 40px;
}

header nav .fas.fa-bars {
  display: none;
}

@media (min-width: 1300px) {
  nav ul li:not(:last-child)::after {
    content: '|';
  }
}

@media (max-width: 1300px) {
  header nav ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  header nav ul li {
    padding: 20px 0px;
    display: inline-block;
  }
  header nav ul li:hover {
    border-bottom: solid 1px #1E293B;
  }
  header nav .fas.fa-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
  }
  header nav:hover ul {
    display: block;
  }
}

@-webkit-keyframes slideInFromLeft {
  0% {
    margin-left: -1000px;
  }
  80% {
    margin-left: 25px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slideInFromLeft {
  0% {
    margin-left: -1000px;
  }
  80% {
    margin-left: 25px;
  }
  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    margin-right: -1000px;
  }
  80% {
    margin-right: 25px;
  }
  100% {
    margin-right: 0px;
  }
}

@keyframes slideInFromRight {
  0% {
    margin-right: -1000px;
  }
  80% {
    margin-right: 25px;
  }
  100% {
    margin-right: 0px;
  }
}

::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
          box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.banner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10rem 0;
}

.banner h2 {
  text-transform: uppercase;
  font-size: 120px;
  font-family: "Antic Didone", serif;
}

.banner h2:last-of-type {
  -webkit-animation: 1s ease-out 0s 1 slideInFromRight;
          animation: 1s ease-out 0s 1 slideInFromRight;
}

.banner h2:first-of-type {
  -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
          animation: 1s ease-out 0s 1 slideInFromLeft;
}

.banner img {
  margin: 0 4rem;
}

.espace {
  height: .1rem;
  background: #ffffff;
}

.articles {
  text-align: center;
  background: #1E293B;
  padding: 8rem;
}

.articles article {
  margin: 8rem 4rem;
  color: #ffffff;
}

.articles article:first-of-type {
  margin-top: 0;
  margin-bottom: 8rem;
}

.articles article h3 {
  margin-top: 0;
  font-size: 3rem;
}

.articles article p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.articles article .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.articles article a {
  background: #65C1BE;
  border: none;
  padding: 1rem;
  border-radius: 25px;
  -webkit-transition: 1s;
  transition: 1s;
  text-decoration: none;
  color: #ffffff;
}

.articles article button:hover {
  cursor: pointer;
}

.filter {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter p {
  margin: 0;
}

.filter button {
  border: none;
  font-size: .8rem;
  background-color: lightgray;
  padding: 0.7rem;
  margin: 0px 0.5rem;
}

.filter button:hover {
  background: gray;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 0;
  }
  .banner img {
    width: 350px;
    margin: 0;
  }
  .banner h2 {
    margin: 30px;
  }
  .articles {
    text-align: center;
    background: #1E293B;
    padding: 4rem 0;
  }
  .articles article {
    margin: 5rem 4rem;
    color: #ffffff;
  }
  .articles article:first-of-type {
    margin-top: 0;
    margin-bottom: 8rem;
  }
  .articles article h3 {
    font-size: 3rem;
  }
  .articles article p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .articles article .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles article .direct {
    background: #65C1BE;
    border: none;
    padding: 0.8rem;
    border-radius: 40px;
    -webkit-transition: 1s;
    transition: 1s;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  .articles article button:hover {
    cursor: pointer;
  }
}

#cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 2rem;
}

#cardContainer h1 {
  color: #65C1BE;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

#cardContainer .flip-card {
  width: 500px;
  height: 300px;
  margin: 1rem;
}

#cardContainer .flip-card .flip-card-inner {
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

#cardContainer .flip-card .flip-card-inner .flip-card-front, #cardContainer .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.25);
}

#cardContainer .flip-card .flip-card-inner .flip-card-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

#cardContainer .flip-card .flip-card-inner .flip-card-back {
  padding: 2rem 2rem 0 2rem;
  color: teal;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#cardContainer .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media (max-width: 1300px) {
  #cardContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 2rem;
  }
  #cardContainer h1 {
    color: #65C1BE;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  #cardContainer .flip-card {
    width: 500px;
    height: 300px;
    margin: 1rem;
  }
  #cardContainer .flip-card .flip-card-inner {
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  #cardContainer .flip-card .flip-card-inner .flip-card-front, #cardContainer .flip-card .flip-card-inner .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #cardContainer .flip-card .flip-card-inner .flip-card-front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: black;
  }
  #cardContainer .flip-card .flip-card-inner .flip-card-back {
    padding: 0;
    color: teal;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  #cardContainer .flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

#game {
  font-size: 1.5rem;
  margin: 10% 0px;
  padding: 5px 15%;
}

#game #top, #game #code, #game #buttons {
  padding: 5px 20px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px gray;
          box-shadow: 5px 5px 5px 5px gray;
}

#game #top p {
  background-color: blue;
  color: yellow;
  border-radius: 10px;
  padding: 10px;
  height: 400px;
}

#game #bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}

#game #bottom #code {
  width: 80%;
}

#game #bottom #code input {
  border: none;
  background-color: #f0eeee;
  color: #000000;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 70%;
  width: 90%;
}

#game #bottom #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#game #bottom #buttons button {
  border: none;
  padding: 3px 20px;
  color: white;
  border-radius: 10px;
  margin: 5px;
}

#game #bottom #buttons button:hover {
  cursor: pointer;
}

#game #bottom #buttons #quitter {
  background-color: red;
}

#game #bottom #buttons #reset {
  background-color: yellow;
}

#game #bottom #buttons #send {
  background-color: greenyellow;
}

@media (max-width: 860px) {
  #game #top {
    height: auto;
  }
  #game #bottom {
    display: block;
  }
  #game #bottom #code {
    width: auto;
    padding: 2px;
  }
  #game #bottom #code input {
    width: 90%;
  }
}

.filter {
  border-bottom: solid 2px black;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .card {
  padding: 10px;
  width: 500px;
  margin: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

section .card .school {
  color: #65C1BE;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

body .container {
  padding: 20px 60px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */